.restaurant-details-container {
  display: flex;
  background-color: #333333;
  margin-top: 2%;
  padding: 30px;
}
.restaurant-details {
  display: flex;
  margin-left: 8%;
}
.restaurant-detail-image {
  margin-top: 10px;
  height: 250px;
  width: 400px;
  border-radius: 8px;
  margin-right: 20px;
}
.restaurant-details-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 48px;
  color: #ffffff;
}
.restaurant-details-cuisine {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.location {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.details-container {
  display: flex;
  flex-direction: row;
}

.vertical-line {
  margin-top: 35px;
  width: 50px;
  height: 0px;
  border: 1px solid #e2e8f0;
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.rating-star {
  color: #ffffff;
  margin-right: 5px;
}
.ratings {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.ratings-count {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #e2e8f0;
}
.cost {
  color: #ffffff;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}
.cost-for-two {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #e2e8f0;
}
.food-item-list {
  margin-top: 3%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
