.order-total-value {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #3e4c59;
  margin-left: 40px;
}
.cart-summary-container {
  margin-bottom: 40px;
  display: flex;
}
.total-container {
  margin-left: 47%;
}
.total {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #3e4c59;
  display: flex;
  justify-content: center;
}

.order-button {
  background-color: #f7931e;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}
